.app {
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.blurred {
    filter: blur(10px);
  }
}

header {
  text-align: center;
  line-height: 100px;
  height: 100px;
  width: 100%;
  font-size: 40px;
  font-weight: 600;
}

.content_header {
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
  font-weight: 500;
}

.content {
  display: flex;
  justify-content: center;
  height: calc(100vh - 180px);
}

.loading_component {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app_content {
  width: 100%;
}

.clients_list {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 25px;
}

li {
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.popup {
  position: absolute;
}

.lds_dual_ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: auto;
}

.activeZone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createButton {
  margin-top: 50px;
  width: 300px;
  display: inline-block;
  outline: 0;
  border: 0;
  border-bottom: 2px solid #000000;
  cursor: pointer;
  padding: 14px 24px 16px;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1;
  transition: transform 200ms;
  background: transparent;
  color: #000000;
  &:hover {
    background: #000000;
    color: white;
    transition: 0.2s;
  }
}

.lds_dual_ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds_dual_ring 1.2s linear infinite;
}
@keyframes lds_dual_ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
